.food {
   padding: 170px 0;
   background: #FFF9F2;

   @include breakpoint(max-md) {
      padding: 80px 0;
   }

   .food_content {
      .foot_content-title {
         h3 {
            margin-block-end: 27px;
            color: #396C03;
            font-weight: 700;
            font-size: 50px;

            @include breakpoint(max-md) {
               font-size: 22px;
            }
         }

         p {}

         .btn-one {
            a {
               span {
                  display: inline-block;
                  padding: 10px 24px;
                  background: #396C03;
                  border: 1px solid #396C03;
                  color: #ffffff;
                  border-radius: 30px;
                  text-align: center;
                  transition: all 0.3s ease;

                  .arraw-class {
                     position: relative;
                     top: 1px;
                     font-size: 14px;
                     margin-inline-start: 4px;
                  }

                  &:hover {
                     background: transparent;
                     color: #396C03;
                     border: 1px solid #396C03;

                  }
               }
            }
         }
      }
   }

   .food_img {
      @extend %p-rel;

      &:before {
         @extend %p-abs;
         background-size: contain;
         background-repeat: no-repeat;
         z-index: -1;
      }

      &:before {
         @include box(calc(200px + 7vw), calc(300px + 7vw));
         @include add-prefix(animation, left-right 3s linear infinite alternate);
         background-image: url('/assets/images/food/food-bg1.png');
         left: 20%;
         bottom: -40%;
         z-index: 1;

         @include breakpoint(max-lg) {
            bottom: -70% !important;
         }

         @include breakpoint(max-md) {
            bottom: -55%;
         }

         @include breakpoint(max-sm) {
            bottom: -58% !important;
         }

         @include breakpoint(max-xsm) {
            bottom: -62% !important;
         }


      }
   }
}